{% extends 'backoffice/layout-backoffice.html.twig' %}



{% block body %}

    {% set titlePage = 'backoffice.articles.list.title'|trans %}
    
    <div id="article-list" class="section">
        
        {% include 'flashMessage/flashMessage.html.twig' %}
        <div class="columns">
            <div class="column">
                {% if contentFile is not empty %}
                    <h2>Montant total: </h2>
                    <div class="table-container">
                        <table class="table">
                            <thead>
                        <th>Identifiant</th>
                        <th>Nom & prénom</th>
                        <th> Code Banque</th>
                        <th>Code Guichet</th>
                        <th>Numéro compte</th>
                        <th> Montant</th>
                        <th>Motif</th>
                         <th> {{ 'backoffice.articles.list.articlr_action'|trans }}</th>

                            </thead>

                            <tbody>

                               {% for content  in contentFile %}

                                <tr>

                                    <td >{{ content.identifiant }}</td>

                                    <td {% if validatebyType('nomprenon',content) == false %} 

                                        style="color:#e85a5a;" {% endif %}>

                                        <i {% if validatebyType('nomprenon',content) == false %}   

                                        class="fa fa-times" aria-hidden="true" style="color:red;font-size:30px" {% endif %}></i>

                                        {{ content.nomprenon }}

                                    </td>

                                    <td {% if validatebyType('codebancque',content) == false %} 

                                        style="color:#e85a5a;" {% endif %}>

                                        <i {% if validatebyType('codebancque',content) == false %}   

                                            class="fa fa-times" aria-hidden="true" style="color:red;font-size:30px" {% endif %}></i>

                                        {{ content.codebancque }}

                                    </td>

                                    <td {% if validatebyType('codeguichet',content) == false %} 

                                        style="color:#e85a5a;" {% endif %}>

                                        <i {% if validatebyType('codeguichet',content) == false %}   

                                            class="fa fa-times" aria-hidden="true" style="color:red;font-size:30px" {% endif %}></i>

                                            {{ content.codeguichet }}

                                    </td>

                                    <td {% if validatebyType('numcompte',content) == false %} 

                                        style="color:#e85a5a;" {% endif %}>

                                        <i {% if validatebyType('numcompte',content) == false %}   

                                            class="fa fa-times" aria-hidden="true" style="color:red;font-size:30px" {% endif %}></i>

                                            {{ content.numcompte }}

                                    </td>

                                    <td {% if validatebyType('montant',content) == false %} 

                                        style="color:#e85a5a;" {% endif %}>

                                        <i {% if validatebyType('montant',content) == false %}   

                                            class="fa fa-times" aria-hidden="true" style="color:red;font-size:30px" {% endif %}></i>

                                            {{ content.montant }}

                                    </td>

                                    <td {% if validatebyType('motif',content) == false %} 

                                        style="color:#e85a5a;" {% endif %}>

                                        <i {% if validatebyType('motif',content) == false %}   

                                            class="fa fa-times" aria-hidden="true" style="color:red;font-size:30px" {% endif %}></i>

                                            {{ content.motif }}

                                    </td>

                                    <td {% if validateall(content) == false %}  > 

                                    <a class="btn-action" data-url="{{ path('file_edit', {'line': content.id }) }}" 

                                     id="btnAction1"><i class="fa fa-pencil" aria-hidden="true"></i></a>

                                        

                                        {% endif %}

                                    </td>

                                </tr>

                            {% endfor %}

                            

                            </tbody>

                        </table>

                         {% include 'paginator/paginator.html.twig' %}

                    </div>

                {% else %}

                    <i>{{ 'backoffice.articles.list.no_article'|trans }}</i>

                {% endif %}

            </div>

        </div>

    </div>

<!-- Button trigger modal -->

    

    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">

        <div class="modal-dialog">

            <div class="modal-content">

               

            </div>

        </div>

    </div>

 

 

{% endblock %}



{% block javascripts %}

     {{ parent() }}

<script>

 $(document).ready(function() {

$('.btn-action').click(function(){

    var url = $(this).data("url"); 

    console.log(url);

    $.get(url, function (data) {

            //on injecte le html dans la modale

            $('.modal-content').html(data);

            //on ouvre la modale

           $('#myModal').modal('show');

        });

     

     

});

});

</script>



{% endblock %}

 

 



