{% extends 'backoffice/layout-backoffice.html.twig' %}

{% block body %}
    {% set titlePage = 'backoffice.articles.list.title'|trans %}
    <div id="article-list" class="section">
        <div class="columns">
            <div class="column">
                <div class="title-tab">
                    <h2 class="title is-3">{{ titlePage }}</h2>
                </div>
            </div>
        </div>

        {% include 'flashMessage/flashMessage.html.twig' %}

      

        <div class="columns">
            <div class="column">
                <a class="button is-primary" href="{{ path('article_new') }}">
                    {{ 'backoffice.articles.list.new_article'|trans }}
                </a>
            </div>
        </div>
    

        <div class="columns">
            <div class="column">
    
                {% if articles is not empty %}
                    <div class="table-container">
                        <table class="table">
                            <thead>
                 
                            <th>{{ 'backoffice.articles.list.article_author'|trans }}</th>
                            <th>Date de création</th>
                            <th> {{ 'backoffice.articles.list.file'|trans }}</th>
                             <th> {{ 'backoffice.articles.list.status'|trans }}</th>
                            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ 'backoffice.articles.list.articlr_action'|trans }}</th>
                            </thead>

                            <tbody>
                            {% for article in articles %}
                                <tr>
                           
                                    <td>{{ article.author.username }}</td>
                                    <td>{{ article.createAt|date("d/m/Y") }}</td>
                                    <td>{{ article.image.alt }}</td>
                                    <td><i class="fa fa-archive" aria-hidden="true" style="color:#386ca2;font-size:30px"></i></td>
                                    <td>
                                        <a href="{{ path('article_show', {'slug': article.image.id}) }}"
                                           class="button is-warning">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </a>
                                 
                                        <a href="{{ path('afb', {'slug': article.image.id}) }}"
                                           class="button is-primary"
                                        data-trans="{{ 'backoffice.articles.list.deleted_confirm'|trans }}">
                                            <i class="fa fa-university" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <i>{{ 'backoffice.articles.list.no_article'|trans }}</i>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
     {{ parent() }}
    <script src="{{ asset('build/js/delete-confirmation.js') }}"></script>
{% endblock %}
